html {
  box-sizing: border-box;
  font-size: 14px;
  height: 100%;
  color: #fff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #111;
    height: 100%;
}

a {
    color: #b9b9b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.icon {
    display: block;
    background: #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #000;
    border-radius: 50%;
    text-decoration: none;
}

.fill {
    height: 100%;
}

.home-container {
    text-align: center;
    height: 100%;
}

.home-content {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.name {
    font-size: 2.15em;
}

.profession {
    font-size: 1.15em;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail {
    font-size: 20px;
    margin-left: 40px;
}

.github {
    font-size: 24px;
    margin-right: 40px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media all and (max-width: 500px) {
    .profile {
        flex-flow: column wrap;
    }
    .profile img {
        order: 1;
    }
    .github {
        order: 2;
        margin-top: 20px;
        margin-right: 60px;
    }
    .mail {
        order: 2;
        margin-top: -40px;
        margin-left: 60px;
    }
}

@media all and (max-height: 350px) {
    .profile img {
        width: 100px;
        height: 100px;
    }

    html {
        font-size: 12px;
    }
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}

footer .linklist {
    padding: 1.5em;
    border-top: 1px solid rgba(215,215,215,0.2);
    display: inline-block;
}

footer .linklist a:not(:last-child) {
    margin-right: 1em;
}
